asgiref==3.11.1
Django==6.0.6
django-cors-headers==4.9.0
django-environ==0.13.0
djangorestframework==3.17.1
gunicorn==26.0.0
huggingface_hub==1.19.0
keras==3.14.1
numpy==2.4.6
Pillow==12.2.0
psycopg2-binary==2.9.12
tensorflow-cpu==2.21.0
whitenoise==6.12.0
